.box {
  background-color: #ffff;
  max-width: 750px;
  margin: 0 auto 15px;
  padding: 20px 35px;
  color: #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 50px;
}

.box p {
  max-width: 400px;
}

.box span {
  background-color: black;
  color: #fff;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 40px;
}

.product_line {
  text-transform: uppercase;
  margin: 30px;
  font-weight: bold;
  font-size: 20px;
}
