.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  color: #000000;
  padding: 5px 15px;
  line-height: 1.5rem;
  background-color: #cacd02;
}

.error {
  background-color: #901616;
  color: #ffff;
}

.success {
  background-color: #00974e;
  color: #ffff;
}
