* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #201f1f;
  text-align: center;
  color: #fff;
}

.product_line {
  text-transform: uppercase;
  margin: 30px auto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

/* p {
  margin: 10px;
} */
